    <li class="vevent education">
        <div class="event-date">
            {% if include.start %}<abbr class="dtstart" title="{{include.start | date: '%Y-%m-%d'}}">{{include.start|date: "%b %Y"}}</abbr>{% endif %}{% if include.end %}–<abbr class="dtend" title="{{include.end | date: '%Y-%m-%d'}}">{{include.end|date: "%b %Y"}}</abbr>{% endif %}
        </div>
        <div class="summary{% unless include.location %}-wide{% endunless %}">{% if include.locationurl %}<a href="{{include.locationurl}}" target="_blank" class="url" rel="nofollow">{% endif %}{{include.summary}}{% if include.locationurl %}</a>{% endif %}</div>
        {% if include.location %}<div class="location">{{include.location}}</div>{% endif %}
        <div class="clear">&nbsp;</div>
    </li>