/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}


/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  -webkit-text-size-adjust: 100%;
  
  background-image: url('../images/banner.webp');
  background-repeat: no-repeat;
  background-position: center top;
  
  max-width: 790px;
  margin: auto auto 10px auto;
  box-shadow: 0 0 10px 10px lightgrey;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 3;
}
/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}


/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}


/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-top: $spacing-unit / 2;
  color: $heading-color;
  clear: both;
}


/**
 * Links
 */
a {
  color: $brand-color;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


p {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

main {
  padding: 0 10px 10px 10px;
  position: relative;
}

header {
  height: 50px;
  .site-name {
    font-size: 30pt;

    @include media-query(770px) {
      font-size: 24pt;
    }
    @include media-query(620px) {
      font-size: 20pt;
    } 
    @include media-query(520px) {
      font-size: 18pt;
    }
    font-family: sans-serif;
    letter-spacing: .34em;
    text-align: center;
    font-weight: 500;
    position: relative;
    top: -.18em;
    text-shadow: 0 0 .5em black;
    a, a:hover {
      color: white;
      text-decoration: none;
    }
  }
  
  nav {
    ul.menu {
      text-align: right;
      li {
        display: inline;
        list-style-type: none;
        margin-right: 1em;
        a {
          color: lighten($accent-color,20%);
          border: 1px solid lighten($accent-color,10%);
          background-color: fade-out(darken($accent-color,30%), 0.25);
          text-decoration: none;
          font-size: 1.2rem;
          padding: .2em .5em .2em .5em;
        }
        a:link:hover, a:visited:hover {
          text-decoration: none;
          color: white;
          border: 1px solid white;
          background-color: darken($accent-color,15%);
        }
      }
    }
  }
}

.caption {
  font-size: 13pt;
  font-style: italic;
  color: $accent-color;
}

a {
  color: inherit;
}

:link:hover, :visited:hover {
  text-decoration: underline;
  color: #0000FF;
}

a {
  color: #999999;
}

h1 {
  margin-top: 2em;
}

div.clear {
  clear: both;
  float: none;
  line-height: 0;
}


ul.events {
  padding-left: 0;
  margin-left: 0;
  li.vevent {
    clear: both;
    list-style: none;
    padding-top: .5em;
    div.event-date {
      width: 10em;
    }
    div.summary {
      width: 20em;
    }
    div.summary-wide {
      width: 45em;
    }
    abbr.dtstart, abbr.dtend {
      text-decoration: none;
    }
    div.location {
      width: 25.5em;
      margin-right: 0;
    }
    div.clear {
      float: none;
    }
  }
}

li.vevent div {
  float: left;
  margin-right: 1em;
}

ul.gallery {
  padding-left: 0;
  margin-top: 0;
  li {
    list-style: none;
    width: 18em;
    float: left;
    display: table;
    height: 18em;
    div {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      div {
        width: 17em;
      }
    }
  }
}
