---
layout: default
---
<div class="page home page-middle">
  <div class="centre-panel">

    <div class="banner">
      <span style="display: none; height: 0;">Sue Crossfield Ceramics</span>
      <a href="/">
        <img src="{{ site.github.url }}/images/banner.jpg" alt="Sue Crossfield Ceramics" height="439" width="790"/>
      </a>
    </div>

    <div class="content">
      <ul class="menu">
        <li><a href="/" rel="home">About (home)</a></li>
        <li><a href="{{ site.github.url }}/gallery.html">Gallery</a></li>
        <li><a href="{{ site.github.url }}/links.html">Links</a></li>
        <li><a href="{{ site.github.url }}/cv.html">CV</a></li>
      </ul>
    {{ content }}
    </div>
    <div class="bottom-panel">
      <div class="bottom-left-panel">&nbsp;</div>
      <div class="bottom-right-panel">&nbsp;</div>
    </div>
  </div>
</div>