---
layout: default
---
<header class="banner">
  <div class="site-name"><a href="/">Sue Crossfield Ceramics</a></div>
  <nav>
    <ul class="menu">
      <li><a href="{{ "/" | relative_url }}" rel="home">About (home)</a></li>
      <li><a href="{{ "/gallery.html" | relative_url }}">Gallery</a></li>
      <li><a href="{{ "/links.html" | relative_url }}">Links</a></li>
      <li><a href="{{ "/cv.html" | relative_url }}">CV</a></li>
      <li><a href="{{ "/enquiries.html" | relative_url }}">Enquiries</a></li>
    </ul>
  </nav>
</header>
<main>
  {% capture announcement %}{% include announcement.md %}{% endcapture %}
  
  <div class="announcement">{{ announcement | markdownify }}</div>
  {{ content }}
</main>