---
layout: default
---
<div class="page home page-middle">
  <div class="centre-panel">

    <div class="banner">
      <span style="display: none; height: 0;">Sue Crossfield Ceramics</span>
      <a href="/">
        <img src="{{ "images/banner.jpg" | absolute_url }}" alt="Sue Crossfield Ceramics" height="439" width="790"/>
      </a>
    </div>

    <div class="content">
      <ul class="menu">
        <li><a href="{{ "/" | absolute_url }}" rel="home">About (home)</a></li>
        <li><a href="{{ "/gallery.html" | absolute_url }}">Gallery</a></li>
        <li><a href="{{ "links.html" | absolute_url }}">Links</a></li>
        <li><a href="{{ "cv.html" | absolute_url }}">CV</a></li>
      </ul>
    {{ content }}
    </div>
    <div class="bottom-panel">
      <div class="bottom-left-panel">&nbsp;</div>
      <div class="bottom-right-panel">&nbsp;</div>
    </div>
  </div>
</div>